---
layout: page
title: Blog
permalink: /blog/
---
<!--  Slider Start  -->
<section id="global-header-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>SonarQube&trade; Plugins, code quality news and much more!</h1>
          <p>Don't miss latest news from SonarQube&trade; ecosystem</p>
          <a class="btn btn-default btn-call-to-action fancybox"
             href="/newsletter-signup-form">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% for post in site.posts %}
{% if post.path contains '_en' %}
<div class="post-area">
  <div class="row">
    <div class="col-md-2">
    </div>
    <a href="{{ post.url | prepend: site.baseurl }}">
      <div class="col-md-2">
        {% if post.cover %}
        <img style="width: 100%;" alt="{{ post.title }} cover" src="{{ post.cover }}" />
        {% endif %}
      </div>
      <div class="col-md-6">
        <strong>{{ post.title }}</strong>
        <p class="post-date">{{ post.date | date: "%B %-d, %Y" }}</p>
        <p>
          {{ post.description }}
        </p>
      </div>
    </a>
    <div class="col-md-2">
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

{% include newsletter-banner.html %}
