---
layout: page_it
title: Grazie per il tuo acquisto
permalink: /it/thanks-for-your-purchase
---

<!-- Slider Start -->
<section id="global-header-downloads">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Grazie per il tuo acquisto</h1>          
          <h4>Abbiamo appena ricevuto il tuo pagamento per il plugin bitegarden</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="padding-top: 40px; padding-bottom: 40px">
  <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <h3>
              Come ricevere la tua licenza
            </h3>
            <p>Per generare la chiave di licenza abbiamo bisogno che tu ci fornisca i seguenti dati:</p>
             <ul>
             <li>- <strong>dati aziendalia </strong> per generare la fattura (ragione sociale, indirizzo, partita IVA, ...)</li>
             <br/>
             <li>- <strong> ID  server </strong> della tua istanza diSonarQube</li>
           </ul>
           <br/>
             <p>Non appena ci riceveremo queste informazioni, ti invieremo la chiave della licenza e la fattura.</p>
             <br/>

<center><a href="http://bitegarden.atlassian.net/servicedesk/customer/portal/1" class="btn btn-primary btn-call-to-action fancybox" style="font-weight:bold;font-size:20px">INVIA RICHIESTA</a></center>

            <br>
            
          </div>
        </div>
      </div>
  </div>

<hr>

  <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
              <h2>
                Dove trovo il mio ID server?
              </h2>
             <p>Il tuo ID server viene utilizzato per identificare in modo univoco la tua istanza SonarQube. Si trova nella pagina <strong> Administration > System </strong> nella sezione delle <strong>Informazioni di sistema</strong>.
            </p>
            <img src="/img/SonarQube-server-id.png" atl="SonarQube Server ID info">
            <br/>
            <br/>
            </div>
       </div>
    </div>
</div>
</section>

<div style="    background: #4b4955; color:#fff">
{% include newsletter-banner_it.html %}
</div>

<div class="post-area">

 <div class="container" style="text-align:center; padding-bottom: 40px">
  <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
              <h1>
                Ultimi articoli
              </h1>
          </div>
      </div>
  </div>
 </div>

  <div class="row">
    <div class="col-md-2">

    </div>

    {% for post in site.posts limit:6 %}
    {% if post.path contains '_en' %}
    <div class="col-md-2">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="row">
          {% if post.cover %}
          <img style="width: 100%;" alt="{{ post.title }} cover" src="{{ post.cover }}" />
          {% endif %}
        </div>
        <div class="row" >
          <h4 style="color:#666">{{ post.title }}</h4>
           <p class="post-date" style="font-size:13px">{{ post.date | date: "%B %-d, %Y" }}</p>
        </div>
      </a>
    </div>
    <div class="col-md-1">
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>



<section id="update-center-description">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</section>



<script type="text/javascript">
  $(document).ready(function() {
    var refinedLink = window.location.search.substr(9);
    var link = refinedLink.substr(0, refinedLink.length - 3);
    if (link) {
      document.getElementById('direct-link').href=link;
    }
  });
</script>

