<script type="text/javascript">
function getInputValue(id) {
	return document.getElementsByName(id)[0].value;
}

function urlToPromise(url) {
    return new Promise(function(resolve, reject) {
        JSZipUtils.getBinaryContent(url, function (err, data) {
            if(err) {
                reject(err);
            } else {
                resolve(data);
            }
        });
    });
}

$("#download-form").submit(function(e) {
    e.preventDefault();

    const productPackage = new Map();

    productPackage.set('bitegarden-sonarcloud-overview-report', '2.6');
    productPackage.set('bitegarden-sonarcloud-report', '1.3');
    productPackage.set('bitegarden-sonarcloud-security', '1.4.1');

    var productNames   =  productPackage.keys;
    var productFileExt = 'jar';
    var customerEmail    = getInputValue("customerEmail");
	var customerName     = getInputValue("customerName");
	var customerSurnames = getInputValue("customerSurnames");
	var customerCompany  = getInputValue("customerCompany");
	var agreement  = document.getElementById("agreement");

    if ( customerEmail && customerName && customerSurnames && customerCompany && agreement.checked ) {

        var zip = new JSZip();

        for (const [key, value] of productPackage.entries()) {
          var url = 'https://marketplace.bitegarden.com/download/productArtifact?';
          url += 'productName=' + key;
          url += '&productVersion=' + value;
          url += '&productFileExt=' + productFileExt;
          url += '&customerEmail=' + customerEmail;
          url += '&customerName=' + customerName;
          url += '&customerSurnames=' + customerSurnames;
          url += '&customerCompany=' + customerCompany;

          var filename = key + '-' + value + '.jar';
          zip.file(filename, urlToPromise(url), {binary:true});
        }

        // when everything has been downloaded, we can trigger the dl
        zip.generateAsync({type:"blob"}, function updateCallback(metadata) {
            var msg = "progression : " + metadata.percent.toFixed(2) + " %";
            if(metadata.currentFile) {
                msg += ", current file = " + metadata.currentFile;
            }
            showMessage(msg);
            updatePercent(metadata.percent|0);
        })
            .then(function callback(blob) {

                // see FileSaver.js
                saveAs(blob, "bitegarden-premium-pack-sonarcloud.zip");

                showMessage("done !");
            }, function (e) {
                showError(e);
            });

        return false;
    }
});
</script>