<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="/#about-us">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="{{ site.baseurl }}/products">SonarQube™ Plugins</a></li>
            <li><a href="{{ site.baseurl }}/pdf/bitegarden-terms-and-conditions.pdf">Terms and Conditions</a></li>
            <li><a href="{{ site.baseurl }}/privacy-policy">Privacy Policy</a></li>
          </ul>
          <br>
          <ul>
            <li><a href="https://twitter.com/bitegarden" target="_blank"><span class="ion-social-twitter" style="font-size: 24px"></span></a></li>
            <li><a href="https://www.linkedin.com/company/bitegarden" target="_blank"><span class="ion-social-linkedin" style="font-size: 24px"></span></a></li>
          </ul>
        </div>
        <p>bitegarden &copy; Copyright 2021</p>
        <p>Web Design by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.<br>
          SonarQube&trade; is a trademark belonging to <a href="https://www.sonarsource.com" target="_blank">SonarSource SA</a>.
          For further information, please visit <a href="https://www.sonarqube.org" target="_blank">www.sonarqube.org</a></p>
      </div>
    </div>
  </div>
</footer>
