<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/it/#about-us">Chi Siamo</a></li>
            <li><a href="{{ site.baseurl }}/it/contact">Contattaci</a></li>
            <li><a href="{{ site.baseurl }}/it/products">Plugins per SonarQube™ / SonarCloud&trade;</a></li>
            <li><a href="{{ site.baseurl }}/pdf/bitegarden-terms-and-conditions.pdf">Termini e condizioni</a></li>
            <li><a href="{{ site.baseurl }}/it/privacy-policy">Privacy</a></li>
          </ul>
          <br>
          <ul>
            <li><a href="https://twitter.com/bitegarden" target="_blank"><span class="ion-social-twitter" style="font-size: 24px"></span></a></li>
            <li><a href="https://www.linkedin.com/company/bitegarden" target="_blank"><span class="ion-social-linkedin" style="font-size: 24px"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UCapNjcSsPA2QSDKRv0jMrOQ" target="_blank"><span class="ion-social-youtube" style="font-size: 24px"></span></a></li>
          </ul>
        </div>
        <p>bitegarden &copy; Copyright 2023</p>
        <p>Web Design by <a href="http://www.themefisher.com">Themefisher</a>. Tutti i diritti sono riservati.<br>
          SonarQube&trade; e SonarCloud&trade; sono marchi registrati proprietà di <a href="https://www.sonarsource.com" target="_blank">SonarSource SA</a>.
          Per maggiori informazioni visita il sito <a href="https://www.sonarqube.org" target="_blank">www.sonarqube.org</a> o <a href="https://sonarcloud.io" target="_blank">sonarcloud.io</a> </p>
      </div>
    </div>
  </div>
</footer>
