<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="/#about-us">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="{{ site.baseurl }}/products">Products</a></li>
          </ul>
        </div>
        <p>bitegarden &copy; Copyright 2019</p>
        <p>Web Design by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
        <p>SonarQube&trade; is a trademark belonging to <a href="https://www.sonarsource.com" target="_blank">SonarSource SA</a>.
          For further information, please visit <a href="https://www.sonarqube.org" target="_blank">www.sonarqube.org</a></p>
      </div>
    </div>
  </div>
</footer>
