<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.ga_tracking_id }}');
</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/airspace.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/ionicons.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/jquery.fancybox.css" />

<!-- Js -->
<!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script-->
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/js/vendor/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<script src="{{ site.baseurl }}/js/min/waypoints.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.counterup.js"></script>

<script src="{{ site.baseurl }}/js/jquery.fancybox.js"></script>

<script src="{{ site.baseurl }}/js/jqBootstrapValidation.js"></script>
<script src="{{ site.baseurl }}/js/contact_me_static.js"></script>

<script src="{{ site.baseurl }}/js/main.js"></script>

<script src="{{ site.baseurl }}/js/download.js"></script>

<script type="text/javascript" id="cookieinfo"
        src="{{ site.baseurl }}/js/cookieinfo.min.js"
        data-font-family="'Open Sans', sans-serif;"
        data-bg="green"
        data-fg="#FFFFFF"
        data-link="lightgreen"
        data-cookie="CookieInfoScript"
        data-text-align="left"
        data-divlinkbg="white"
        data-message="Este sitio web almacena cookies en tu equipo. Estas cookies se utilizan para recopilar información sobre como interacciones con nuestro sitio web y nos permite recordarte. Utilizamos esta información para mejorar y personalizar tu experiencia de navegación y para obtener métricas y analíticas sobre nuestras visitas. Si quieres saber más sobre las cookies que utilizamos revisa nuestra "
        data-linkmsg="política de privacidad."
        data-moreinfo="https://www.bitegarden.com/privacy-policy"
        data-close-text="Aceptar">
</script>

{% seo %}

<!--
/*
 * Airspace
 * Ported to Jekyll by Andrew Lee
 * https://github.com/luminousrubyist/airspace-jekyll
 * Designed and Developed by ThemeFisher
 * https://themefisher.com/
 *
 */
-->
