<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Activar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/es/">
              <img style="max-height: 100%;" src="{{ site.baseurl }}/img/bitegarden-logo.png" alt="bitegarden">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/es/">Inicio</a></li>
                <li><a href="{{ site.baseurl }}/es/products">Productos</a></li>
                <li><a href="{{ site.baseurl }}/es/downloads">Descargas</a></li>
                <li><a href="{{ site.baseurl }}/es/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/es/contact">Contacto</a></li>

                {% if page.trial %}
                <li><div class="block"><a class="btn btn-primary btn-call-to-action fancybox" href="{{ page.trial }}"><span style="color: white;font-weight: bold;text-transform: uppercase">Prueba ahora</span></a></div></li>
                {% else %}
                <li><div class="block"><a class="btn btn-primary btn-call-to-action fancybox" href="/es/downloads"><span style="color: white;font-weight: bold;text-transform: uppercase">Prueba ahora</span></a></div></li>
                {% endif %}

                {% if page.path contains '_es' %}
                <li><a href="{{ site.baseurl }}{{ page.english }}">EN</a></li>
                <li><a href="{{ site.baseurl }}{{ page.italian }}">IT</a></li>
                {% else %}
                <li><a href="{{ site.baseurl }}{{ page.url | replace: "/es/", "/" }}">EN</a></li>
                <li><a href="{{ site.baseurl }}{{ page.url | replace: "/es/", "/it/" }}">IT</a></li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
