<div class="container" style="padding: 50px 0px;">
    <div class="row">
      <div class="col-md-2 text-center">
      </div>
      <div class="col-md-8 text-center">
        <h2>Newsletter</h2> 
        <p> Resta aggiornato sul mondo dell'integrazione continua e della qualità di codice</p>
        <br/>
        <a class="btn btn-primary btn-call-to-action fancybox"
           href="/it/newsletter-signup-form" style="font-weight: bold;">ISCRIVITI ALLA NEWSLETTER</a>
      </div>
      <div class="col-md-2 text-center">
      </div>
    </div>
</div>
