<div class="container" style="padding: 50px 0px;">
    <div class="row">
      <div class="col-md-2 text-center">
      </div>
      <div class="col-md-8 text-center">
        <h2>Newsletter</h2> 
        <p> Mantente informado sobre el mundo de la integración continua y la calidad del código.</p>
        <a class="btn btn-primary btn-call-to-action fancybox"
           href="/es/newsletter-signup-form">Suscribirse</a>
      </div>
      <div class="col-md-2 text-center">
      </div>
    </div>
</div>
