---
layout: page_es
title: Blog
permalink: /es/blog/
---
<!-- Slider Start -->
<section id="global-header-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>SonarQube&trade; Plugins, noticias sobre calidad de código y mucho más</h1>
          <p>No te pierdas las últimas novedades del ecosistema SonarQube&trade; </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% for post in site.posts %}

{% if post.url contains '_es' %}
<div class="post-area">
  <div class="row">
    <div class="col-md-2">
    </div>
    <a href="{{ post.url | prepend: site.baseurl }}">
      <div class="col-md-2">
        <strong>{{ post.title }}</strong>


        <p <p class="post-date">
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d" }} de
        {% case m %}
        {% when '1' %}enero
        {% when '2' %}febrero
        {% when '3' %}marzo
        {% when '4' %}abril
        {% when '5' %}mayo
        {% when '6' %}junio
        {% when '7' %}julio
        {% when '8' %}agosto
        {% when '9' %}septiembre
        {% when '10' %}octubre
        {% when '11' %}noviembre
        {% when '12' %}diciembre
        {% endcase %}
        {{ post.date | date: "%Y" }}
        </p>
      </div>
      <div class="col-md-6">
        <p>
          {{ post.description }}
        </p>
      </div>
    </a>
    <div class="col-md-2">
    </div>
  </div>
</div>
{% endif %}

{% endfor %}