---
layout: page_es
---

<div class="post">
  <!-- Wrapper Start -->

  <section id="global-header-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h1><strong>{{ page.title }}</strong></h1>
            <div class="post-info-wrapper">
              <p><span class="bold">
                {% assign m = page.date | date: "%-m" %}
                {{ page.date | date: "%-d" }} de
                {% case m %}
                {% when '1' %}enero
                {% when '2' %}febrero
                {% when '3' %}marzo
                {% when '4' %}abril
                {% when '5' %}mayo
                {% when '6' %}junio
                {% when '7' %}julio
                {% when '8' %}agosto
                {% when '9' %}septiembre
                {% when '10' %}octubre
                {% when '11' %}noviembre
                {% when '12' %}diciembre
                {% endcase %}
                {{ page.date | date: "%Y" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section style="padding-top: 20px; border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <p>{{ content }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/blog">Back to blog</a>
</p>

{% include disqus-comments_es.html %}
